{{/*  {{ define "main" }}

<section id="team" class="team">
  <div class="container">


    <div class="row text-center teamcontent">
      {{ range where .Site.Pages "Type" "team-person" }}
      <div class="col-md-4 col-sm-6 mb-5">
        <div class="team wow fadeInUp">
          <div class="img-hexagon">
            <img src="{{ .Params.image }}" alt="{{ .Params.title }}">
            <span class="img-top"></span>
            <span class="img-bottom"></span>
          </div>
          <div class="team-content">
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Params.designation }}</p>
            <div class="team-social">
              <a class="linkedin" href="{{ .Params.social }}" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section>


{{ partial "meeting-arrange.html" . }}

{{ partial "modal.html" . }}

{{ end }}  */}}