{{ define "main" }}

{{/*  <section class="About-Us-Section-1 Primary-Header-Card">
  <div class="card">
    <img src="/images/aboutus_page_1_header.jpg" class="card-img" alt="about rpa header">
  </div>
</section>  */}}

<section class="About-Us-Section-2">
  <div class="container">
    <div class="row justify-content-xl-between">
      <div class="col-12 col-xl-6 order-0">
        <p class="Light-Dark-Paragraph-P2">In today's world, technology has a huge impact on our lives. Any location can
          be found on google maps, dinner can be ordered to your doorsteps, a flight ticket, or a taxi can be booked at
          an instance. All of that is done via digital platforms and is highly automated helping you save time and
          effort.
        </p>

        <p class="Light-Dark-Paragraph-P2"> Many industries realized the importance of digitalization, onboarded the
          latest technology, and embraced a customer-centric approach. What about the Logistics and Transportation
          Sector and Global Freight movements?
        </p>

        <p class="Light-Dark-Paragraph-P2"> Logistics has often been regarded as a legacy-driven sector, one of the
          least developed sectors when it comes to digital transformation and software automation. </p>
      </div>

      <div class="col-12 col-xl-5 mb-xl-5 order-0 text-center">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/BUMR9Sd-yZI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-12 col-xl-6 order-0 order-xl-1">
        <p class="Light-Dark-Paragraph-P2">At Fero, we focus on the pain points of day-to-day logistics and freight
          management. We understand the need for visibility, connectivity, and reliability for all intermediaries
          involved in global supply chains. Our modular solutions fill the gaps in operational processes and create a
          complete picture of what is happening in operation and a roadmap for action.</p>

        <p class="Light-Dark-Paragraph-P2"> We created TiA, a Transport Intelligent Assistant, the world's 1st of its
          kind to solely focus on Logistics and Freight Transactions. TiA empowers teams with conversational Ai and
          automates repetitive, coordination tasks.
        </p>

        <p class="Light-Dark-Paragraph-P2">
          We give our customers the tools to transform their operations, embracing a customer-centric approach with help
          of technologies - Speech Recognition, Artificial Intelligence, and Machine Learning.
        </p>
      </div>

      <div class="col-12 col-xl-5 order-0 text-center">
        <img src="/images/aboutus_page_2_team.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="About-Us-Section-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="Home-Page-Heading">Our Core Values</h1>

        <div class="row">
          <div class="col-12 col-md-4">
            <div class="Shadow-Box mb-3 mb-md-0 py-4 px-5">
              <h3>Hunger</h3>
              <p>We are learners for life</p>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="Shadow-Box mb-3 mb-md-0 py-4 px-5">
              <h3>Honesty</h3>
              <p>Integrity, loyalty and dedication is our culture.</p>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="Shadow-Box mb-3 mb-md-0 py-4 px-5">
              <h3>Humility</h3>
              <p>We create outcomes that speak </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="About-Us-Section-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="Home-Page-Heading">Our Advisory Board </h1>
        <div class="row">
          <div class="col-10 col-md-5 col-xl-3">
            <div class="Shadow-Box">
              <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/aboutus_page_3_abhinav.png" class="img-fluid" />
              <div class="p-3">
                <p>Abhinav Chaudhary</p>
                <small>Founder & CEO</small>
              </div>
            </div>
          </div>

          <div class="col-10 col-md-5 col-xl-3">
            <div class="Shadow-Box">
              <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/aboutus_page_4_caroline.png" class="img-fluid" />
              <div class="p-3">
                <p>Carolin-Carmen Neubauer</p>
                <small>Co-Founder & COO</small>
              </div>
            </div>
          </div>

          <div class="col-10 col-md-5 col-xl-3">
            <div class="Shadow-Box">
              <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/aboutus_page_5_harish.png" class="img-fluid" />
              <div class="p-3">
                <p>Harish Krishnan</p>
                <small>Co-Founder & CSO</small>
              </div>
            </div>
          </div>

          <div class="col-10 col-md-5 col-xl-3">
            <div class="Shadow-Box">
              <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/aboutus_page_6_arjun.png" class="img-fluid" />
              <div class="p-3">
                <p> Arjun Basin</p>
                <small> Co-Founder & CTO</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
 -->
<section class="About-Us-Section-5">
  <div class="container">
    <div class="timeline">
      <div class="timeline-body">
        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2018</span>
          <div class="content">
            <h3 class="title">Fero was born</h3>

            <p class="Light-Dark-Paragraph-P2">Everything started with the realization that a large and vastly relevant
              industry at the size of 10% of global GDP is still, albeit all technological advancements, highly dependent
              on manual and repetitive tasks.</p>
            <p class="Light-Dark-Paragraph-P2"> The Transportation, Logistics, and Global Freight Sector had to be
              disrupted by up logistics and supply chain employees from repetitive and time-consuming manual tasks,
              allowing their teams to deliver a modern, dramatically better freight execution experience and enable
              businesses of all kinds to import and export globally by Road, Air or Sea.</p>
            <p class="Light-Dark-Paragraph-P2"> Our founder Abhinav Chaudhary brought his knowledge and experience
              acquired from the DHL, a trucking
              aggregation start-up, and the Indian Army, rounded by 2 Masters's Degrees and an MIT education. He
              realized that the global logistics industry wasn’t reaping the benefits of smart software automation,
              which, if deployed correctly, would not only increase turnaround times but reduce the sector’s exposure to
              the risk of human error.</p>

          </div>
        </div>

        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2019
            <p class="Month">April</p>
          </span>
          <div class="content">
            <h3 class="title">TiA - the first Intelligent Virtual Agent (IVA) for freight and logistics was born</h3>
            <p class="Light-Dark-Paragraph-P2">
              TiA is software for intelligent freight rate management and online visibility for cost
              reduction and accelerate sales, bringing all operational processes to a single-window
              interface.
            </p>
          </div>
        </div>

        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2019
            <p class="Month">November</p>
          </span>
          <div class="content">
            <h3 class="title">Artificial Intelligence Award 2019 at the Transport Logistics Middle East Excellence
              Awards</h3>

            <p class="Light-Dark-Paragraph-P2">This award recognizes the best application of artificial intelligence
              technologies in transport and
              logistics operations.</p>
          </div>
        </div>

        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2020
            <p class="Month">October</p>
          </span>
          <div class="content">
            <h3 class="title">TiA gets powered by Microsoft</h3>
            <p class="Light-Dark-Paragraph-P2">
              "Microsoft for Startups is a free, global programme dedicated to helping B2B startups successfully scale
              their companies. We were really impressed with the passion the Fero.Ai team has for bringing the power
              of Ai to the freight and logistics space, and we look forward to supporting the impact that the team has
              envisioned," said Roberto Croci, managing director, Microsoft for Startups MEA.
            </p>
          </div>
        </div>

        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2021
            <p class="Month">November</p>
          </span>
          <div class="content">
            <h3 class="title">Rapid Growth</h3>
            <ul>
              <li class="Light-Dark-Paragraph-P2">We have grown into a team of over 80 talented individuals</li>
              <li class="Light-Dark-Paragraph-P2">Expanded across 12 markets</li>
              <li class="Light-Dark-Paragraph-P2">Blue chip clients Bollore and DSV onboarded</li>
            </ul>
          </div>
        </div>

        <div class="timeline-item">
          <span class="year Dark-Heading-H3">2022
            <p class="Month">May</p>
          </span>
          <div class="content">
            <h3 class="title">Fero was recognized among the Top 10 Logistics Software Solution Providers in the region
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}