{{ define "main" }}
    
<header class="Partner-Section-1 Primary-Header-Card">
    <div class="card">
      <img src="/images/partners_page_1.png" class="card-img" alt="partner header">
    </div>
  </header>
  
  
  <section class="Partner-Section-2">
    <div class="container">
      <div class="row">
        <div class="col-12 ">
  
          <p>
            Capitalize on Robotic Process Automation (RPA) solutions that will benefit your business and customers. Become
            a Fero Partner and a part of transformative change in the Transportation, Logistics, and Global Freight
            Sector.
  
          </p>
  
          <!--   <button class="btn btn-pramiry Common-Button-1 mb-3 mb-sm-0 me-sm-3">Business Partners</button>
  
          <button class="btn btn-pramiry Common-Button-1 mb-3 mb-sm-0 me-sm-3">Technology Partners</button> -->
          <!-- my-code -->
  
          <!-- tab  -->
  
  
        </div>
  
      </div>
    </div>
  </section>
  
  <!-- my code  -->
  <section class="Partner-Section-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <button class="btn btn-primary Common-Button-2 float-end" type="submit" data-bs-toggle="modal"
            data-bs-target="#contact-form">BECOME A PARTNER </button>
  
          <ul class="nav nav-pills Test-Tab mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active me-3" id="pills-Business-Partner-tab" data-bs-toggle="pill" data-bs-target="#pills-Business-Partner"
                type="button" role="tab" aria-controls="pills-Business-Partner" aria-selected="true">Business Partners</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Technology-Partner-tab" data-bs-toggle="pill" data-bs-target="#pills-Technology-Partner"
                type="button" role="tab" aria-controls="pills-Technology-Partner" aria-selected="false">Technology Partners</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Business-Partner" role="tabpanel" aria-labelledby="pills-Business-Partner-tab">
              <section class="Partner-section-4">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4> Business Partners: </h4>
                    </div>
                  </div>
                </div>
              </section>
  
              <section class="Partner-section-5 my-3 mb-5 my-xl-5">
                <div class="container">
                  <div class="row justify-content-md-around px-3 px-md-0">
  
                    <div class="col-12 col-md-5 ">
                      <a href="https://www.newage-global.com/" target="_blank" class="Partner-Link">
                        <div class="card Shadow-Box">
                          <div class="Partner-Image d-flex align-items-center">
                            <img src="/images/partner_card_1.png" class="img-fluid" alt="partner_card_1">
                          </div>
                          <div class="card-body">
                            <p class="card-text">
                              Pre-eminent Cloud-based SaaS Platform and Outsourcing Services for global supply chain,
                              freight forwarding, and logistics business.
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
  
                    <div class="col-12 col-md-5">
                      <a href="http://www.heltechs.com/" target="_blank" class="Partner-Link">
                        <div class="card Shadow-Box mt-md-0 mt-4 mt-sm-4">
                          <div class="Partner-Image d-flex align-items-center">
                            <img src="/images/partner_card_2.png" class="img-fluid" alt="partner_card_1">
                          </div>
                          <div class="card-body">
                            <p class="card-text">
                              Helicon Technologies is an Authorized service center and Master VAR & Master Distributors
                              for
                              Mobility and Wireless range of products. They empower enterprise mobility ensuring faster
                              turnaround for the business at the point of need.
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="tab-pane fade" id="pills-Technology-Partner" role="tabpanel" aria-labelledby="pills-Technology-Partner-tab">
              <section class="Partner-section-4">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4>Technology Partners: </h4>
                    </div>
                  </div>
                </div>
              </section>
  
              <section class="Partner-section-5 my-3 mb-5 my-xl-5">
                <div class="container">
                  <div class="row justify-content-md-around px-3 px-md-0">
  
                    <div class="col-12 col-md-5 ">
                      <a href="https://www.intwo.cloud/" target="_blank" class="Partner-Link">
                        <div class="card Shadow-Box">
                          <div class="Partner-Image d-flex align-items-center">
                            <img src="/images/partner_card_3.png" class="img-fluid" alt="partner_card_1">
                          </div>
                          <div class="card-body">
                            <p class="card-text">
                              InTWO helps your organization achieve more with cloud technology. With over 25 years of
                              experience, we specialize in transforming your business by increasing its digital footprint
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-12 col-md-5 d-lg-block d-md-block "></div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <div class="modal fade Contact-Modal" id="contact-form" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title Dark-Heading-H4" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-4">
  
          <form method="post" enctype="multipart/form-data" id="FormID">
            <!--onSubmit="return false"-->
            <input type="hidden" name="csrfmiddlewaretoken" value="RhYVarLhc08wPdzNCHrGtiUN2PJqMpOwb3AnahrAYgXBgjjgrgFXmQXh5iU5PmZ0">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-4">
  
                  
                  <label for="floatingInput">Full Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-4">
                  
                  <label for="floatingInput">Company Name </label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-4">
                  
                  <label for="floatingSelect">How would you like to join us</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-4">
                  
                  <label for="floatingInput">e-mail</label>
                  
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-4">
                  
                  <label for="floatingInput">Country</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-4">
                  
                  <label for="floatingInput">Contact Number with Country Code</label>
                </div>
              </div>
  
              <div class="col-12">
                <div class="form-floating mb-4">
                  
                  <label for="floatingTextarea2">Type Your Message Here...</label>
                </div>
              </div>
            </div>
  
            <!-- <div class="row mt-2 mb-4">
              <div class="col-12">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="vehicle1">
  
                <label for="vehicle1" class="checkbox-paragraph"> I would like to receive communications
                  about Fero.ai tailored to my interests and preferences,
                  including latest news about products, services, events and promotions. For more
                  information,
                  please see our<span>Privacy Policy</span> </label>
              </div>
            </div> -->
  
            <div class="row mb-2">
              <div class="col-12">
                <button type="submit" class="btn btn-primary Modal-Footer-Btn Common-Button-1 w-100 p-3">
                  Submit </button>
              </div>
            </div>
          </form>
  
          <!-- <div class="modal-footer justify-content-center">
              <p>Have a different inquiry?You Can Call Us on +971-4-8800161</p>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  
{{ end }}