<!-- Footer start -->
<footer class="Product-Footer">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-10 col-md-5 col-xl-3">
		  <div class="Product-Logo d-flex flex-column align-items-start">
			<img src="/images/background_white_logo_fero.png" class="img-fluid mb-5" alt="logo" />
			<!-- <p>Get our updates & industry news.</p> -->
  
			<!-- <div class="Footer-From">
			  <input type="email" class="form-control me-xl-2" placeholder="Email Address" aria-label="Email Address"
				aria-describedby="button-addon2" />
			  <button class="btn btn-info mt-2 Common-Button-1" type="submit" id="button-addon2">
				Subscribe
			  </button>
			</div> -->
			<a href="https://www.linkedin.com/company/feroai/jobs/" target="_blank">
			  <i class="mdi mdi-linkedin"></i>
			</a>
		  </div>
		</div>
  
  
		<div class="col-10 col-md-7 col-xl-9">
		  <div class="row">
			<div class="col-12 col-md-6 col-xl-3">
			  <div class="Footer-Nav">
				<p>Product</p>
				<ul class="nav flex-column">
				  <li class="nav-item">
					<a class="nav-link" href="#">Logistics Operation Processes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Rates Pricing & Processes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Contractual Processes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Resources Management</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Financial Operation Processes</a>
				  </li>
				</ul>
			  </div>
			</div>
  
			<div class="col-12 col-md-6 col-xl-3">
			  <div class="Footer-Nav">
				<p>Solutions</p>
				<ul class="nav flex-column">
				  <li class="nav-item">
					<a class="nav-link Solution-By-Industry" href="solution_by_industry/index.html">By Industry</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link Solution-By-Department" href="solution_by_department/index.html">By Department</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link Solution-By-Technology" href="solution_by_technology/index.html">By Technology</a>
				  </li>
				</ul>
  
			  </div>
  
			</div>
  
			<div class="col-12 col-md-6 col-xl-3">
			  <div class="Footer-Nav">
				<p>About RPA</p>
				<ul class="nav flex-column">
				  <li class="nav-item">
					<a class="nav-link About-RPA" href="about_rpa/index.html">About RPA</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link RPA-Journey" href="rpa_journey/index.html">RPA Journey</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link Pressroom" href="pressroom/index.html">Press Room</a>
				  </li>
				</ul>
			  </div>
			</div>
  
			<div class="col-12 col-md-6 col-xl-3">
			  <div class="Footer-Nav">
				<a href="index.html">
				  <p class="Home">Home</p>
				</a>
				<a href="about_us/index.html">
				  <p class="About-Us">About Us</p>
				</a>
				<a href="partners/index.html">
				  <p class="Partners">Partners</p>
				</a>
				<a href="contact_us/index.html">
				  <p class="Contact-Us">Contact Us</p>
				</a>
				<a href="join_our_team/index.html">
				  <p class="Join-Our-Team">Join Our Team</p>
				</a>
				<a href="privacy_policy/index.html">
				  <p class="Privacy-Policy">Privacy Policy</p>
				</a>
				<a href="security_policy/index.html">
				  <p class="Security-Policy">Security Policy</p>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
	<div class="Footer-Copy-Text">
	  <hr />
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-12">
			<p>© 2020 Fero.ai | All rights reserved</p>
		  </div>
		</div>
	  </div>
	</div>
  </footer>



{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}


