<nav class="navbar navbar-expand-xl navbar-light bg-light Navigation fixed-top py-3">
  <div class="container">

    <a class="Navbar-Brand-Mobile" href="/">
      <img src="/images/fero.png" class="img-fluid" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <!--class="navbar-toggler-icon"-->
        <img src="/images/Navigation_Category.png" class="img-fluid" alt="logo">
      </span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">
        <img src="/images/fero.png" class="img-fluid" alt="logo">
      </a>

      <hr />

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle Operations-Scheduling Consolidation-Management Trip-Planning Dispatch-Coordination Milestone-Management Workflow-Logistic-Order-Ops Operation-Coordinator-TiA Quotation-Tool Pricing-Engine Procurement-Management Marketplace-Management Pricing-Coordinator-TiA Marketing-Coordinator-TiA Contract-Management Vendor-Management Customer-Management Weight-Dispute-Management Customer-Services-Coordinator-TiA Documentation-Coordinator-TiA Fleet-Management Capacity-Engine Assets-Management Exception-Management Fleet-Coordinator-TiA Invoicing-Tools Charge-Codes-Engine Financial-Reporting Business-Intelligence-Reporting-TiA"
            href="#" aria-current="page" id="Navbar-Product" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Product
          </a>
          <div class="dropdown-menu Sub-Product" aria-labelledby="Navbar-Product">
            <div class="container-fluid">
              <div class="row justify-content-around g-xl-0">
                <div class="col-12 col-xl-2">
                  <div class="row mt-xl-3">
                    <div class="col-12">
                      <h6>LOGISTICS OPERATION PROCESSES</h6>
                      <hr class="mt-0" />
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Operations-Scheduling">Operations Scheduling <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Machine learning-based work-asset recommendation for planning. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Consolidation-Management">Consolidation Management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Digital robots to consolidates your movements. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Trip-Planning">Trip Planning <i class="mdi mdi-chevron-right"></i></label>
                        <p> Constraints based or ML based Trip Optimization. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Dispatch-Coordination">Dispatch Coordination <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> A synchronized communication to manage multi-channel delivery parameters. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Milestone-Management">Milestone Management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Customizable milestone handling by a robotic workforce. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Workflow-Logistic-Order-Ops">Workflow Logistics Order <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Omnichannel work collection & distribution via algorithms.</p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Operation-Coordinator-TiA">Operation Coordinator (TiA) <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p>Multiple-use cases communication from order placement to track & trace for various freight
                          modes.</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-2">
                  <div class="row mt-4 mt-xl-3">
                    <div class="col-12">
                      <h6> Rates & Pricing Process </h6>
                      <hr class="mt-0" />
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Quotation-Tool">Quotation Tool <i class="mdi mdi-chevron-right"></i></label>
                        <p> Automate quote generation online for customer. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Pricing-Engine">Pricing engine <i class="mdi mdi-chevron-right"></i></label>
                        <p> AI-powered pricing engine for buy & sell rates. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Procurement-Management">Procurement management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Orchestrate multiple stakeholders asynchronously by automation. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Marketplace-Management">Marketplace management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Multiple components to launch road freight marketplace. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Pricing-Coordinator-TiA">Pricing Coordinator (TiA) <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Conversational module for quotes booking request & procurement. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Marketing-Coordinator-TiA"
                          style="text-transform: initial !important;">Marketing Coordinator (TiA)<i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Sales and marketing communication tasks by bots.</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-2">
                  <div class="row mt-4 mt-xl-3">
                    <div class="col-12">
                      <h6> Contractual processes </h6>
                      <hr class="mt-0" />
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Contract-Management">Contract Management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Omni-linked contracts for intelligent logistics OPS. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Vendor-Management">Vendor Management <i class="mdi mdi-chevron-right"></i></label>
                        <p> Enhances intelligent vendor management parameters. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Customer-Management">Customer Management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p>Extract, feed & manage data via Arms through bots. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Weight-Dispute-Management">Weight Dispute Management
                          <i class="mdi mdi-chevron-right"></i></label>
                        <p> Digital software robots to guard against possible disputes.</p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Customer-Services-Coordinator-TiA">Customer Services Coordinator (TiA)
                          <i class="mdi mdi-chevron-right"></i></label>
                        <p>NLP based dynamic query handling dialogue flows. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Documentation-Coordinator-TiA">Documentation Coordinator (TiA)
                          <i class="mdi mdi-chevron-right"></i></label>
                        <p> Computer Vision based logistic documents management.</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-2">
                  <div class="row mt-4 mt-xl-3">
                    <div class="col-12">
                      <h6> Resource Management </h6>
                      <hr class="mt-0" />
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Fleet-Management">Fleet Management <i class="mdi mdi-chevron-right"></i></label>
                        <p>Digital robots to manage your fleet </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Capacity-Engine">Capacity Engine <i class="mdi mdi-chevron-right"></i></label>
                        <p> Simulation to build ideal logistics resources. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Assets-Management">Assets Management <i class="mdi mdi-chevron-right"></i></label>
                        <p>Modular level ML-based asset allocation. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Exception-Management">Exception Management <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p>Data lakes & ML Based KPIs Management.</p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Fleet-Coordinator-TiA">Fleet Coordinator (TiA) <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p>Live and deferred communication on optimum fleet health.</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-2">
                  <div class="row mt-4 mt-xl-3">
                    <div class="col-12">
                      <h6> Financial Operation Process </h6>
                      <hr class="mt-0" />
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Invoicing-Tools">Invoicing Tools <i class="mdi mdi-chevron-right"></i></label>
                        <p>Automation of event-based invoice generation. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Charge-Codes-Engine">Charge Codes Engine <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p> Machine learning-enabled charge code mapping.</p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="Financial-Reporting">Financial Reporting <i
                            class="mdi mdi-chevron-right"></i></label>
                        <p>Automation analytics for stakeholder reporting. </p>
                      </a>
                    </div>

                    <div class="col-12 Product-Sub-Link">
                      <a href="#">
                        <label class="TiA-Color Business-Intelligence-Reporting-TiA">Business Intelligence & Reporting
                          (TiA) <i class="mdi mdi-chevron-right"></i></label>
                        <p>Automated governance of business KPIs by robots.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle Solution-By-Industry Solution-By-Department Solution-By-Technology"
            href="#" id="Navbar-Solutions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Solutions
          </a>

          <div class="dropdown-menu Sub-Product" aria-labelledby="Navbar-Solutions">
            <div class="container">
              <div class="row pt-xl-3">
                <div class="col-12 col-xl-1"></div>

                <div class="col-12 col-xl-3">
                  <div class="row">
                    <div class="col-12">
                      <a class="Solutions-Head-Link" href="#">
                        <h6 class="mb-xl-0 Solution-By-Industry"> BY Industry <i class="mdi mdi-chevron-right"></i>
                        </h6>
                      </a>
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Distributors</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>3rd Party Logistics</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Manufacturer</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Freight Forwarders</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Transporters</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Ports</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Courier Companies</label>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-3">
                  <div class="row">
                    <div class="col-12">
                      <a class="Solutions-Head-Link" href="#">
                        <h6 class="mb-xl-0 Solution-By-Department"> By Department <i class="mdi mdi-chevron-right"></i>
                        </h6>
                      </a>
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Management Team</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Logistics Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Operation Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Pricing Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Dispatch Teams</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Customer Service Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Sales Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Procurement Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Finance Department</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Fleet Management / Maintainance Team</label>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-3">
                  <div class="row">
                    <div class="col-12">
                      <a class="Solutions-Head-Link" href="#">
                        <h6 class="mb-xl-0 Solution-By-Technology"> By Technology <i class="mdi mdi-chevron-right"></i>
                        </h6>
                      </a>
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Infor</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>JDA</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>MS Dynamics</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Cargowise One</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Newage Freight</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Pipedrive</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>SAP</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Location Solution</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Roamworks</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Oracle(OTMS)</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Symphony</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Boomi</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Afsys</label>
                      <!-- </a> -->
                    </div>
                    <div class="col-12 Solutions-Sub-Link">
                      <!-- <a href="#"> -->
                      <label>Navis</label>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle About-RPA RPA-Journey Pressroom" href="#" id="Navbar-About-RPA"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About RPA
          </a>

          <div class="dropdown-menu Sub-Product" aria-labelledby="Navbar-About-RPA">
            <div class="container">
              <div class="row my-xl-4">
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-3 About-RPA-Sub-Link">
                  <a href="#">
                    <label class="About-RPA">About RPA<i class="mdi mdi-chevron-right"></i></label>
                  </a>
                </div>
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-3 About-RPA-Sub-Link">
                  <a href="#">
                    <label class="RPA-Journey">RPA Journey<i class="mdi mdi-chevron-right"></i></label>
                  </a>
                </div>
                <div class="col-12 col-xl-1"></div>
                <div class="col-12 col-xl-3 About-RPA-Sub-Link">
                  <a href="#">
                    <label class="Pressroom">Press Room<i class="mdi mdi-chevron-right"></i></label>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link About-Us" href="#">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link Partners" href="#">Partners</a>
        </li>
      </ul>

      <button class="btn btn-outline-primary Common-Button-2 ms-xl-4 " type="submit" data-bs-toggle="modal"
        data-bs-target="#contact-form">Explore Automation</button>

    </div>
  </div>
</nav>



<div class="modal fade Contact-Modal" id="contact-form" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title Dark-Heading-H4" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-4">

        <form method="post" enctype="multipart/form-data" id="FormID">
          <!--onSubmit="return false"-->
          <input type="hidden" name="csrfmiddlewaretoken" value="YtFLE3m3rCpaqRd5ljPyYM0nS2xJGflZifhdET2mdSefRXXyaS3PRk3RVvIoJcwt">
          <div class="row">
            <div class="col-6">
              <div class="form-floating mb-4">

                <input type="text" name="full_name" class="form-control" id="floatingInput" maxlength="100" required>
                <label for="floatingInput">Full Name</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                <input type="text" name="company_name" class="form-control" id="floatingInput" maxlength="100" required>
                <label for="floatingInput">Company Name </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                <select name="user_type" class="form-select" id="floatingInput" required>
  <option value="" selected>---------</option>

  <option value="as_a_Customer">as a Customer</option>

  <option value="as_a_Partner">as a Partner</option>

</select>
                <label for="floatingSelect">How would you like to join us</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                <input type="email" name="email" placeholder="Email" class="form-control" id="floatingInput" maxlength="200" required>
                <label for="floatingInput">e-mail</label>
                
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                <input type="text" name="country_name" class="form-control" id="floatingInput" maxlength="100" required>
                <label for="floatingInput">Country</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                <input type="number" name="contact_number" class="form-control" id="floatingInput" maxlength="20" required>
                <label for="floatingInput">Contact Number with Country Code</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating mb-4">
                <textarea name="messages" cols="40" rows="10" class="form-control" id="floatingInput" placeholder="Type Your Message Here..." style="height: 100px" maxlength="155" required>
</textarea>
                <label for="floatingTextarea2">Type Your Message Here...</label>
              </div>
            </div>
          </div>

          <!-- <div class="row mt-2 mb-4">
            <div class="col-12">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="vehicle1">

              <label for="vehicle1" class="checkbox-paragraph"> I would like to receive communications
                about Fero.ai tailored to my interests and preferences,
                including latest news about products, services, events and promotions. For more
                information,
                please see our<span>Privacy Policy</span> </label>
            </div>
          </div> -->

          <div class="row mb-2">
            <div class="col-12">
              <button type="submit" class="btn btn-primary Modal-Footer-Btn Common-Button-1 w-100 p-3">
                Submit </button>
            </div>
          </div>
        </form>

        <!-- <div class="modal-footer justify-content-center">
            <p>Have a different inquiry?You Can Call Us on +971-4-8800161</p>
          </div> -->
      </div>
    </div>
  </div>
</div>