<div class="container">
    <div class="row">
    <div id="meeting_div" style="padding-bottom: 7%; display: flex; justify-content: center; align-items: center">
            <div class="col-md-8 ">
                <h3 class="meeting" id="meeting_heading">Yes, I Have An App</h3>
                <p class="meeting" id="meeting_text">It needs security testing, load and performance testing and it may need deployment architecture review and static code analysis.</p>
                <a href="https://calendly.com/atcults/30min" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-primary btn-block solid" id="meeting_btn" style="height:5rem; border-radius: 6px;">Arrange a meeting</button></a>
            </div>
        <div class="col">
            <img id="meeting_offer" id="meeting_img" src="/images/offer.png" alt="Arrange a meeting">
        </div>
    </div>
    </div>
</div>