<div class="card">
  <img src="{{ .Params.page_header_bg | absURL }}" class="card-img" alt="{{ .Params.page_header_bg | absURL }}">
</div>



{{/*  <div id="banner-area">
  <img src="{{ .Params.page_header_bg | absURL }}" onerror="this.src='{{`images/banner/banner1.jpg` | absURL}}'" alt="{{ .Params.page_header_bg | absURL }}" style="width: 100%;" class="topbanner" />
  <div class="parallax-overlay"></div>
  <!-- Subpage title start -->
  <div class="banner-title-content">
    <div class="text-center">
      <h1>{{ .Params.bannertitle }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.home }}</a></li>
          <li class="breadcrumb-item text-white" aria-current="page">{{ .Params.bannertitle }}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>  */}}