{{/*  {{ define "main" }}

<head>

  <script type="text/javascript">
   async function submitToAPI() {

      var Namere = /[A-Za-z]{1}[A-Za-z]/;

      if (!Namere.test($("#name").val())) {
        alert("Name can not less than 2 char");
        return;
      }

      if ($("#email").val() == "") {
        alert("Please enter your email id");
        return;
      }

      var reeamil = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
      if (!reeamil.test($("#email").val())) {
        alert("Please enter valid email address");
        return;
      }

      var mobilere = /[0-9]{10}/;
      if (!mobilere.test($("#phone").val())) {
        alert("Please enter valid mobile number");
        return;
      }

      if ($("#message").val() == "") {
        alert("Please enter Message");
        return;
      }

      const name = $("#name").val();
      const phone = $("#phone").val();
      const email = $("#email").val();
      const message = $("#message").val();
      const data = {
        name: name,
        phone: phone,
        email: email,
        message: message
      };

    document.getElementsByClassName("sendMessageButton")[0].innerHTML = '<div class="text-right"><br><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>'

     await fetch("https://x6f68r8673.execute-api.us-east-1.amazonaws.com/contact-us/contact-us", {
        method: "POST",
        mode: 'no-cors',
        body: JSON.stringify(data),
        headers: {
          "Content-type": "application/json",
        }
      }).then(response => {
          alert("Successfully Submitted");
          resetForm();
      }).catch((err) => {
          alert("Something Went Wrong, Please Try Later");
          resetForm();
        });
    }

    function resetForm() {
      $("#name").val('');
      $("#phone").val('');
      $("#email").val('');
      $("#message").val('');
      document.getElementsByClassName("sendMessageButton")[0].innerHTML = '<div class="text-right"><br><button class="btn btn-primary solid blank" onclick="submitToAPI()">Send Message</button></div>'
    }
  </script>
</head>

<section id="main-container" class="pt-2 pb-5">
  <div class="container">
    <div class="row mb-5">
     
      <div class="card-group">
        {{ range where .Site.Pages "Type" "contact-data" }}
        <div class="col-md-3">
          <div class="card" style="border: 0px;">
            <div class="card-footer" style="background-color:#ffffff;border-top:0px;">
            </div>
            <div class="">
              <h5 class="card-title">{{ .Params.country }}</h5>
              <p class="card-text">{{ .Params.address }}</p>
              <div style="display:flex"><div><i class="fa fa-phone" style="font-size:24px; color: gray;"></i>&nbsp; &nbsp; &nbsp;</div>
              <div><p style="margin-bottom: 4px;"><a href="tel:+1 778 8071470" style="text-decoration: none; color: gray;">+1 778 8071470</a></p></div></div>
              <div style="display:flex"><div><i class="fa fa-envelope" style="font-size:24px"></i>&nbsp; &nbsp; &nbsp;</div>
              <div><small class="text-muted">{{ .Params.email }}</small></div>
            </div>
          </div>
        </div>
       
      </div>
      {{ end }}
        
  
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <h3 class="text-center">{{ .Params.main_title }}</h3>
      </div>
      <br/>
      <div class="col-md-12">
        <!-- <form id="contact-form" action="{{ .Site.Params.contact_form_action }}" method="post" role="form"> -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="name" id="name" placeholder="" type="text" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="email" id="email" placeholder="" type="email" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Phone</label>
              <input class="form-control" name="phone" id="phone" placeholder="" type="number">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="6LcXwDEfAAAAAMMYTv0sEhu6VX1Z_S6gthP35kmi"
                data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
              <input class="form-control d-none" data-recaptcha="true" required
                data-error="Please complete the Captcha">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6 sendMessageButton">
            <div class="text-right"><br>
              <button class="btn btn-primary solid blank" onclick="submitToAPI()">Send Message</button>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
     

    <!-- Map start here -->
    {{/*  {{ if .Site.Params.map.enable }}
    {{ with .Site.Params.map }}
    <div class="row">
      <div class="col-md-12">
        <iframe src="{{ .link | relLangURL }}" height="450" style="border:0;width:100%;" allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>


    {{/* <div class="gap-40"></div> */}}
    
    <!--/ Map end here -->
  </div> 
  <!--/ container end -->
{{/*  </section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="jquery-1.12.4.min.js"></script>

{{ end }}  */}}