{{/*  
{{ define "main" }}

<section id="main-container">
  <div class="container">
    <div class="row">
      <!-- Blog start -->
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <!-- Blog post start -->
        <div class="post-content">
            <div id="searchBox" class="text-center" > </div>
                    <div id="searchResults" style="margin-top: 3%"></div>
          <div class="entry-content">{{ .Content }}</div>
          
          <div class="gap-30"></div>

        </div><!-- Blog post end -->
      </div>
      
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ partial "algolia.html" }}

{{end}}  */}}